.main{
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
    margin: 0 auto;
}

.main .container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 80%;
    border-right: 1px solid lightgray;
    margin-inline: auto;
}